# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_csv_path = "../WeatherPy/all_data.csv"

# Import the data into a Pandas DataFrame
city_df = pd.read_csv(city_csv_path)
city_df = city_df.drop(columns=["Unnamed: 0"])
city_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,42.60,-73.97,68.00,66,81,5.08,US,1597551603
1,Tiksi,71.69,128.87,43.00,79,94,3.11,RU,1597551763
2,Bluff,-46.60,168.33,48.99,74,49,4.00,NZ,1597551763
3,Torbay,47.67,-52.73,48.00,93,5,4.70,CA,1597551763
4,Santander,43.46,-3.80,63.00,87,20,5.50,ES,1597551764
...,...,...,...,...,...,...,...,...,...
527,Salta,-24.79,-65.41,44.60,75,0,2.24,AR,1597551869
528,Tahoua,14.89,5.27,80.60,74,17,9.17,NE,1597551869
529,Sweetwater,25.76,-80.37,84.20,74,20,6.58,US,1597551669
530,Tezu,27.92,96.17,76.87,86,100,1.81,IN,1597551869
531,Plácido de Castro,-10.34,-67.19,79.32,64,17,1.97,BR,1597551869

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)
locations = city_df[["Latitude", "Longitude"]].astype(float)
humidity=city_df["Humidity"].astype(float)
fig = gmaps.figure(center = (31.26, 32.28), zoom_level=1.4)
heat_map = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius = 1)
fig.add_layer(heat_map)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
hotel_df = city_df.copy().loc[(city_df["Max Temp"]<=85) & (city_df["Max Temp"]>=75) & (city_df["Humidity"]<=70) & (city_df["Wind Speed"]<=10),:]
hotel_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,Hilo,19.73,-155.09,80.60,69,90,6.93,US,1597551623
11,Auki,-8.77,160.70,83.53,67,52,4.18,SB,1597551765
51,Carauari,-4.88,-66.90,77.32,69,74,0.38,BR,1597551773
57,Zhaodong,46.08,125.98,82.40,54,40,6.71,CN,1597551774
59,Kashgar,39.45,75.98,82.40,28,0,6.71,CN,1597551774

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
lats = hotel_df["Latitude"].astype(float)
longs =hotel_df["Longitude"].astype(float)
locations2 = [*zip(lats, longs)]
#testing just a few before hitting API incorrectly
# locations3 = locations2[0:3]
# locations3
hotel_df=hotel_df.dropna()

In [62]:
#test_response=requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=39.45,75.98&radius=5000&type=lodging&key=AIzaSyDFyIsLDCVBFLMo9B7qxck3cW9stFA3ZAY")
#test_result=test_response.json()

In [13]:
#test_result['results'][0]['name']

In [6]:
hotel_names=[]
for i in range(len(locations2)):
    url = (f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={locations2[i][0]},{locations2[i][1]}&radius=5000&type=lodging&key={g_key}")
    response = requests.get(url)
    find_hotels = response.json()
    try:
        hotel_names.append(find_hotels['results'][0]['name'])
    except(KeyError, IndexError):
        hotel_names.append(find_hotels['status'])

In [7]:
hotel_df['Hotel Name']=hotel_names
hotel_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
6,Hilo,19.73,-155.09,80.60,69,90,6.93,US,1597551623,Hilo Hawaiian Hotel
11,Auki,-8.77,160.70,83.53,67,52,4.18,SB,1597551765,Auki Motel
51,Carauari,-4.88,-66.90,77.32,69,74,0.38,BR,1597551773,Pousada Lobo
57,Zhaodong,46.08,125.98,82.40,54,40,6.71,CN,1597551774,Fuhe Hotel
59,Kashgar,39.45,75.98,82.40,28,0,6.71,CN,1597551774,帕米尔青年旅舍

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [23]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
locations, fill_color='rgba(156,39,176,0.7)', stroke_color = 'rgba(233,30,99,0.7)', scale=2, info_box_content=hotel_info)

fig = gmaps.figure(center = (31.26, 32.28), zoom_level=1.4)
fig.add_layer(heat_map)
fig.add_layer(hotel_layer)

# Display figure


fig

Figure(layout=FigureLayout(height='420px'))